body {
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#info {
	position: absolute;
	/* top: 10px; */
	width: 100%;
	text-align: center;
	z-index: 100;
  display:block;
  color: white;
}

#timeline {
  position: absolute;
  text-align: center;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  bottom: 0px;
  z-index: 100;
  display:block;
}

.vis-timeline {
  border: 2px solid purple;
  font-family:  purisa, 'comic sans', cursive;
  font-size: 12pt;
  background:black;
  opacity: 0.5;
}

.debugCanvas {
  position: absolute; 
  background-color: rgb(255,255,255); 
  top: 0px; 
  right: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
